USE [master]
GO
/****** Object:  Database [DW_Osinergmin]    Script Date: 26/02/2025 14:07:40 ******/
CREATE DATABASE [DW_Osinergmin]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Osinergmin', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Osinergmin.mdf' , SIZE = 1581056KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Osinergmin_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Osinergmin_log.ldf' , SIZE = 10231808KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DW_Osinergmin].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DW_Osinergmin]
GO
/****** Object:  Table [dbo].[dimEmpresa]    Script Date: 26/02/2025 14:07:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimEmpresa](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NULL,
	[grupo] [nvarchar](50) NULL,
	[cod_sis_electr] [nvarchar](50) NULL,
 CONSTRAINT [PK_dimEmpresa] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dimTarifa]    Script Date: 26/02/2025 14:07:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimTarifa](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tarifa] [nvarchar](50) NULL,
	[excedido] [tinyint] NULL,
	[descripcion_excedido] [nvarchar](20) NULL,
	[uso] [nvarchar](50) NULL,
 CONSTRAINT [PK_dimTarifa] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dimTiempo]    Script Date: 26/02/2025 14:07:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimTiempo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[year_facturacion] [int] NULL,
	[mes_facturacion] [int] NULL,
	[nombre_mes] [nvarchar](10) NULL,
	[estacion] [nvarchar](10) NULL,
 CONSTRAINT [PK_dimTiempo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dimUbicacion]    Script Date: 26/02/2025 14:07:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimUbicacion](
	[id] [int] NOT NULL,
	[departamento] [nvarchar](100) NULL,
 CONSTRAINT [PK_dimDepartamento] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hechosConsumoPromedioEnergia]    Script Date: 26/02/2025 14:07:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hechosConsumoPromedioEnergia](
	[id] [int] NOT NULL,
	[tiempoId] [int] NULL,
	[empresaId] [int] NULL,
	[ubicacionId] [int] NULL,
	[tarifaId] [int] NULL,
	[ConsumoPromedio] [int] NULL,
 CONSTRAINT [PK_hechosConsumoPromedioEnergia] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[hechosConsumoPromedioEnergia]  WITH CHECK ADD  CONSTRAINT [FK_hechosConsumoPromedioEnergia_dimDepartamento] FOREIGN KEY([ubicacionId])
REFERENCES [dbo].[dimUbicacion] ([id])
GO
ALTER TABLE [dbo].[hechosConsumoPromedioEnergia] CHECK CONSTRAINT [FK_hechosConsumoPromedioEnergia_dimDepartamento]
GO
ALTER TABLE [dbo].[hechosConsumoPromedioEnergia]  WITH CHECK ADD  CONSTRAINT [FK_hechosConsumoPromedioEnergia_dimEmpresa] FOREIGN KEY([empresaId])
REFERENCES [dbo].[dimEmpresa] ([id])
GO
ALTER TABLE [dbo].[hechosConsumoPromedioEnergia] CHECK CONSTRAINT [FK_hechosConsumoPromedioEnergia_dimEmpresa]
GO
ALTER TABLE [dbo].[hechosConsumoPromedioEnergia]  WITH CHECK ADD  CONSTRAINT [FK_hechosConsumoPromedioEnergia_dimTarifa] FOREIGN KEY([tarifaId])
REFERENCES [dbo].[dimTarifa] ([id])
GO
ALTER TABLE [dbo].[hechosConsumoPromedioEnergia] CHECK CONSTRAINT [FK_hechosConsumoPromedioEnergia_dimTarifa]
GO
ALTER TABLE [dbo].[hechosConsumoPromedioEnergia]  WITH CHECK ADD  CONSTRAINT [FK_hechosConsumoPromedioEnergia_dimTiempo] FOREIGN KEY([tiempoId])
REFERENCES [dbo].[dimTiempo] ([id])
GO
ALTER TABLE [dbo].[hechosConsumoPromedioEnergia] CHECK CONSTRAINT [FK_hechosConsumoPromedioEnergia_dimTiempo]
GO
USE [master]
GO
