USE [master]
GO
/****** Object:  Database [STAGE_OSINERGMIN]    Script Date: 26/02/2025 14:05:31 ******/
CREATE DATABASE [STAGE_OSINERGMIN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'STAGE_OSINERGMIN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\STAGE_OSINERGMIN.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'STAGE_OSINERGMIN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\STAGE_OSINERGMIN_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [STAGE_OSINERGMIN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [STAGE_OSINERGMIN]
GO
/****** Object:  Table [dbo].[Empresa]    Script Date: 26/02/2025 14:05:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresa](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo_empresa] [nvarchar](50) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[razon_social] [nvarchar](100) NOT NULL,
	[id_grupo] [int] NOT NULL,
 CONSTRAINT [PK__Empresa__3213E83F5CD0F300] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grupo]    Script Date: 26/02/2025 14:05:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grupo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipo_grupo] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Grupo__3213E83FD926AC90] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SistemaElectrico]    Script Date: 26/02/2025 14:05:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SistemaElectrico](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cod_sis_electr] [nvarchar](50) NOT NULL,
	[id_empresa] [int] NOT NULL,
	[id_departamento] [int] NOT NULL,
 CONSTRAINT [PK__SistemaE__3213E83F054E4347] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Empresa]    Script Date: 26/02/2025 14:05:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Empresa]
AS
SELECT DISTINCT dbo.Empresa.nombre, dbo.Grupo.tipo_grupo, dbo.SistemaElectrico.cod_sis_electr
FROM            dbo.Empresa INNER JOIN
                         dbo.Grupo ON dbo.Empresa.id_grupo = dbo.Grupo.id INNER JOIN
                         dbo.SistemaElectrico ON dbo.Empresa.id = dbo.SistemaElectrico.id_empresa
GO
/****** Object:  Table [dbo].[ConsumoElectrico]    Script Date: 26/02/2025 14:05:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsumoElectrico](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha_emision] [date] NOT NULL,
	[mes_facturacion] [nvarchar](50) NOT NULL,
	[id_sistema_electrico] [int] NOT NULL,
	[id_ctarifa] [int] NOT NULL,
	[id_dtarifa] [int] NOT NULL,
	[promedio_consumo] [float] NOT NULL,
	[cant_suministros] [int] NOT NULL,
 CONSTRAINT [PK__ConsumoE__3213E83FA90AA8CB] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DescripcionTarifa]    Script Date: 26/02/2025 14:05:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DescripcionTarifa](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Descripc__3213E83FBBA10991] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tarifa]    Script Date: 26/02/2025 14:05:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarifa](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cod_tarifa] [nvarchar](50) NOT NULL,
	[id_uso] [int] NOT NULL,
 CONSTRAINT [PK__Tarifa__3213E83F44853777] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uso]    Script Date: 26/02/2025 14:05:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uso](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipo_uso] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Uso__3213E83FB70984A2] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_tarifa]    Script Date: 26/02/2025 14:05:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_tarifa] AS
SELECT DISTINCT 
dbo.Tarifa.cod_tarifa AS TARIFA, 
CASE WHEN dbo.DescripcionTarifa.descripcion = 'EXCESO DE 1000 KW.H' THEN 1 ELSE 0 END AS EXCEDIDO, 
CASE WHEN dbo.DescripcionTarifa.descripcion = 'EXCESO DE 1000 KW.H' THEN N'SI' ELSE N'NO' END AS descripcion_excedido, 
dbo.Uso.tipo_uso
FROM            dbo.ConsumoElectrico INNER JOIN
                         dbo.Tarifa ON dbo.ConsumoElectrico.id_ctarifa = dbo.Tarifa.id INNER JOIN
                         dbo.DescripcionTarifa ON dbo.ConsumoElectrico.id_dtarifa = dbo.DescripcionTarifa.id INNER JOIN
                         dbo.Uso ON dbo.Tarifa.id_uso = dbo.Uso.id
GO
/****** Object:  View [dbo].[vw_Tiempo]    Script Date: 26/02/2025 14:05:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_Tiempo] AS
SELECT DISTINCT 
YEAR(fecha_emision) AS year_facturacion, 
mes_facturacion,

FORMAT(DATEFROMPARTS(2024, mes_facturacion, 1), 'MMMM', 'es-ES') AS nombre_mes,
CASE
   WHEN mes_facturacion IN (10,11,12) THEN N'primavera'
   WHEN mes_facturacion IN (1,2,3) THEN N'verano'
   WHEN mes_facturacion IN (4,5,6) THEN N'otoño'
   WHEN mes_facturacion IN (7,8,9) THEN N'invierno'
END as estacion

FROM dbo.ConsumoElectrico 
GO
/****** Object:  Table [dbo].[Departamento]    Script Date: 26/02/2025 14:05:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamento](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__Departam__3213E83F851A71E1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Ubicacion]    Script Date: 26/02/2025 14:05:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Ubicacion]
AS
SELECT        id, nombre AS departamento
FROM            dbo.Departamento
GO
/****** Object:  View [dbo].[vw_ConsumoEnergia]    Script Date: 26/02/2025 14:05:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_ConsumoEnergia] AS
SELECT   
ce.id as id,
t.id as tiempoId,
dimEmp.id as empresaId,
u.id as ubicacionId,
dimTa.id as tarifaId,
ce.promedio_consumo
FROM            
STAGE_OSINERGMIN.dbo.ConsumoElectrico ce

-- DIM TIEMPO
INNER JOIN DW_Osinergmin.dbo.dimTiempo t
	ON YEAR(ce.fecha_emision)=t.year_facturacion
	AND ce.mes_facturacion= t.mes_facturacion

-- DIM EMPRESA 
INNER JOIN STAGE_OSINERGMIN.dbo.SistemaElectrico s
	ON ce.id_sistema_electrico=s.id
INNER JOIN STAGE_OSINERGMIN.dbo.Empresa e
	ON s.id_empresa=e.id
INNER JOIN STAGE_OSINERGMIN.dbo.Grupo g
	ON e.id_grupo = g.id
INNER JOIN DW_Osinergmin.dbo.dimEmpresa dimEmp
	ON dimEmp.cod_sis_electr = s.cod_sis_electr
	AND dimEmp.grupo = g.tipo_grupo
	AND dimEmp.nombre = e.nombre

-- DIM UBICACION
join DW_Osinergmin.dbo.dimUbicacion u
ON s.id_departamento=u.id

-- DIM TARIFA
inner join STAGE_OSINERGMIN.dbo.Tarifa ta1
	ON ta1.id = ce.id_ctarifa
inner join STAGE_OSINERGMIN.dbo.DescripcionTarifa dt1
	ON dt1.id = ce.id_dtarifa
inner join STAGE_OSINERGMIN.dbo.Uso us1
	ON us1.id = ta1.id_uso
inner join DW_Osinergmin.dbo.dimTarifa dimTa
	ON ta1.cod_tarifa = dimTa.tarifa 
	AND us1.tipo_uso = dimTa.uso
	AND CASE WHEN dt1.descripcion = 'EXCESO DE 1000 KW.H' THEN 1 ELSE 0 END = dimTa.excedido
GO
ALTER TABLE [dbo].[ConsumoElectrico]  WITH CHECK ADD  CONSTRAINT [FK__ConsumoEl__id_ct__70DDC3D8] FOREIGN KEY([id_ctarifa])
REFERENCES [dbo].[Tarifa] ([id])
GO
ALTER TABLE [dbo].[ConsumoElectrico] CHECK CONSTRAINT [FK__ConsumoEl__id_ct__70DDC3D8]
GO
ALTER TABLE [dbo].[ConsumoElectrico]  WITH CHECK ADD  CONSTRAINT [FK__ConsumoEl__id_dt__71D1E811] FOREIGN KEY([id_dtarifa])
REFERENCES [dbo].[DescripcionTarifa] ([id])
GO
ALTER TABLE [dbo].[ConsumoElectrico] CHECK CONSTRAINT [FK__ConsumoEl__id_dt__71D1E811]
GO
ALTER TABLE [dbo].[ConsumoElectrico]  WITH CHECK ADD  CONSTRAINT [FK__ConsumoEl__id_si__72C60C4A] FOREIGN KEY([id_sistema_electrico])
REFERENCES [dbo].[SistemaElectrico] ([id])
GO
ALTER TABLE [dbo].[ConsumoElectrico] CHECK CONSTRAINT [FK__ConsumoEl__id_si__72C60C4A]
GO
ALTER TABLE [dbo].[Empresa]  WITH CHECK ADD  CONSTRAINT [FK__Empresa__id_grup__403A8C7D] FOREIGN KEY([id_grupo])
REFERENCES [dbo].[Grupo] ([id])
GO
ALTER TABLE [dbo].[Empresa] CHECK CONSTRAINT [FK__Empresa__id_grup__403A8C7D]
GO
ALTER TABLE [dbo].[SistemaElectrico]  WITH CHECK ADD  CONSTRAINT [FK__SistemaEl__id_de__45F365D3] FOREIGN KEY([id_departamento])
REFERENCES [dbo].[Departamento] ([id])
GO
ALTER TABLE [dbo].[SistemaElectrico] CHECK CONSTRAINT [FK__SistemaEl__id_de__45F365D3]
GO
ALTER TABLE [dbo].[SistemaElectrico]  WITH CHECK ADD  CONSTRAINT [FK__SistemaEl__id_em__44FF419A] FOREIGN KEY([id_empresa])
REFERENCES [dbo].[Empresa] ([id])
GO
ALTER TABLE [dbo].[SistemaElectrico] CHECK CONSTRAINT [FK__SistemaEl__id_em__44FF419A]
GO
ALTER TABLE [dbo].[Tarifa]  WITH CHECK ADD  CONSTRAINT [FK__Tarifa__id_uso__6E01572D] FOREIGN KEY([id_uso])
REFERENCES [dbo].[Uso] ([id])
GO
ALTER TABLE [dbo].[Tarifa] CHECK CONSTRAINT [FK__Tarifa__id_uso__6E01572D]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[34] 4[14] 2[11] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Empresa"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 214
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Grupo"
            Begin Extent = 
               Top = 6
               Left = 252
               Bottom = 102
               Right = 422
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "SistemaElectrico"
            Begin Extent = 
               Top = 6
               Left = 460
               Bottom = 136
               Right = 639
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_Empresa'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_Empresa'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[36] 4[5] 2[22] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "ConsumoElectrico"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 234
            End
            DisplayFlags = 280
            TopColumn = 4
         End
         Begin Table = "Tarifa"
            Begin Extent = 
               Top = 6
               Left = 272
               Bottom = 119
               Right = 442
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "DescripcionTarifa"
            Begin Extent = 
               Top = 6
               Left = 480
               Bottom = 102
               Right = 650
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Uso"
            Begin Extent = 
               Top = 6
               Left = 688
               Bottom = 102
               Right = 858
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
   ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_tarifa'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'   End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_tarifa'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_tarifa'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[36] 4[23] 2[8] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "ConsumoElectrico"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 234
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_Tiempo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_Tiempo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Departamento"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 102
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_Ubicacion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_Ubicacion'
GO
USE [master]
GO
